{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-3">
	<h4 class="text-center">Thank You for ordering...</h4>

	<div class="card col-sm-5 mx-auto my-4">
		<table class="table table-borderless mb-0">
			<div class="card-header">
				<h3 class="text-center">Bill</h3>
			</div>
			<thead class="bg-light">
				<th scope="col">Item</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
			</thead>
			<tbody class="bg-light">
				{% for cart in request.session.cart %}
				<tr>
					<td class="fw-normal">{{ cart.p_name }}</td>
					<td class="ms-4">{{ cart.p_quantity }}</td>
					<td class="ms-4">₹{{ cart.p_price }}/-</td>
				</tr>
				{% endfor%}
			</tbody>
		</table>

		<div class="card-footer text-center">
			<span class="small text-muted">Shipping Address : {{ request.session.shippingAddress }}</span>
			<p class="lead fw-bolder">Total Price : {{ request.session.totalPrice }}</p>
		</div>
	</div>
</div>
{% endblock %}