{% extends './base.html' %}

{% block content %}
<div class="container mt-3">
	<h1>Product</h1>
	<div class="cards row pt-5 pb-1">
		{% if mydata %}
		{% for row in mydata %}
		<div class="col-sm-5">
			<img src="/media/{{ row.image }}" alt="" width="500px" height="500px"
				style="aspect-ratio: 4 / 3;object-fit: cover;">
		</div>
		<div class="col-sm-7 ps-5">
			<h1>{{ row.name }}</h1>
			<h3>{{ row.stock }}</h3>
			<h3>{{ row.price }}</h3>
			<h3><a href="/allcategories/" class="text-decoration-none text-dark">Category : {{ row.cate }}</a></h3>

			<div>
				<a href="javascript:void(0)" class="btn text-light" style="background-color: #92be4d;">Buy Now</a>
				<a href="javascript:void(0)" class="btn text-light" style="background-color: #92be4d;">Add to cart</a>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}